.cookie-module_container__2EZI7 {
	display: none !important;
}

.zenHeroCarousel-module_zenContent__1iR4G {
	border: 10px solid red !important;
	height: 400px !important;
	overflow: visible !important;
}


/* .zenHeroCarousel-module_zenContent__1iR4G .slider.animated {
	transform: none !important;
	transition: none !important;
} */