.cookie-module_container__2EZI7 {
	display: none !important;
}

.zenHeroCarousel-module_zenContent__1iR4G {
	/* border: 10px solid red !important; */
	height: 648px !important;
	/* overflow: visible !important; */
	position: static !important;
}


.zenHeroCarousel-module_zenContent__1iR4G .slider.animated {
	/* transform: none !important;
	transition: none !important; */
	position: static !important;
	height: 648px !important;
}

.zenHeroCarousel-module_zenContainer__3ymmy,
.zenHeroCarousel-module_imageCoverSlide__PwMtc {
	max-height: 648px !important;
}

.carousel .slide img {
	max-height: 648px !important;
}

.crossFadeCarousel-module_zenContainerscrol__22UId .crossFadeCarousel-module_unOrderList__7vxDU li span {
	height: 648px !important;
}

.scrollCarousel-module_zenContainerscroll__2eH5u .scrollCarousel-module_zenContainerscrollCarousel__1NPbW .scrollCarousel-module_children__3PZSS {
	display: block !important;
}

.zenHeroCarousel-module_zenContainer__3ymmy .zenHeroCarousel-module_imageCoverScroll__2Ap_8 {
	height: 648px !important;
	background-size: cover !important;
}